<!DOCTYPE html>
<html>
<head>
  <title>Celebrity Face Recognition System</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <div class="container">
    <h1>Celebrity Face Recognition System</h1>
    <div class="upload-container">
      <label for="imageInput" class="file-input-label">
        <span class="file-input-text">Choose an image</span>
        <input type="file" id="imageInput" accept="image/*">
      </label>
      <button onclick="uploadImage()">Upload</button>
    </div>
    <div class="image-container" style="text-align: center; margin-bottom: 20px; display: none;">
      <img id="selectedImage" src="" alt="Selected Image" style="max-width: 100%; height: auto; border-radius: 5px;">
    </div>
    <div id="infoContainer" class="card" style="display: none;">
      <div class="card-body">
        <div class="image-container">
          <img id="celebrityImage" src="" alt="Celebrity Image">
        </div>
        <h2 id="celebrityName"></h2>
        <p id="extract"></p>
      </div>
    </div>
  </div>
  <script src="{{ url_for('static', filename='scripts/script.js') }}"></script>
</body>
</html>
